.footer {
  font-size: small;
  background-color: #ff6d6d; 
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.shield-footer {
  padding: 5px;
  margin: auto;
  max-height: 40px;
  max-width: 40px;
}

.header {
  color: #9E9E9E;
  text-align: center;
  padding-top: 20px;
}

.btn-analyze {
  text-align: center;
  bottom: 20px;
  margin: 10px;
  margin-top: 30px;
}

.btn--flat.btn--white {
  background: #ff6d6d;
  color: black;
}

.btn--flat.btn--white:hover {
  color: white;
}

body {
  background-color: #252830;
}

.graph {
  width: 500px;
  height: 250px;
  padding: 20px;
  display: inline-block;
}

.graph-container {
  width: 580px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
}

.checkbox-inline {
  color: white;
  display: block;
  font-size: small;
}

.checkbox-label {
  margin-right: 5px;
  margin-left: 5px;
  font-size: small;
}

.legends-box {
  margin-top: 20px;
  display: inline;
  float: right;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.intro-text {
  color: #9E9E9E;
  font-size: large;
  vertical-align: middle;
  line-height: 55px;
}

.intro-header {
  font-size: 42px;
  color: #9E9E9E;
}

.intro {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 50%;
  min-width: 320px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  background: #404344;
  border-radius: 20px;
}

.graph-loader {
  height: 400px;
  padding: 100px;
  vertical-align: middle;
}

.tabs__link > span {
  vertical-align: top;
}
.table-dark {
  font-size: small;
  color: #fff;
  background-color: #252830;
}
.table td {
  padding: 0.5rem;
}

.table-title {
  color: white;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}
.graph-table {
  position: absolute;
}
