<div class="content" ng-controller="ContentController">
  <div class="row">
    <div class="col-12 col-sm-9 col-lg-10">
      <div class="p+ pt0">
        <lx-text-field lx-theme="dark" lx-label="Enter a GitHub URL (e.g https://github.com/yaoxiangg/logzoom)">
          <input ng-keypress="checkEnter($event)" ng-model="$parent.$parent.git_repo_uri" type="text"></input>
        </lx-text-field>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-lg-2">
      <div class="btn-analyze">
        <lx-button lx-color="white" lx-type="flat" ng-click="analyze()">Analyze</lx-button>
      </div>
    </div>
  </div>
  <div class="intro" ng-if="repositories.length <= 0">
    <div class="p+">
      <p class="intro-header">How to Use?</p>
      <lx-icon lx-id="numeric-1-box" lx-size="xl" lx-color="grey" lx-type="flat"></lx-icon><span class="intro-text">Enter Your GitHub Repository</span><br/>
      <lx-icon lx-id="numeric-2-box" lx-size="xl" lx-color="grey" lx-type="flat"></lx-icon><span class="intro-text">Play around with the Visualizations</span>
    </div>
  </div>
  <div class="row">
  <div class="col-2">
    <br/>
    <br/>
    <br/>
    <lx-tabs lx-indicator="none" lx-color="black" class="sidebar" lx-theme="dark" ng-if="repositories.length > 0" lx-active-tab="activeSideTab" ng-click="updateSideTab(activeSideTab)">
      <lx-tab class="sidebar-tab" lx-icon={{icon}} ng-repeat="option in options" lx-label={{option}}>
      </lx-tab>
    </lx-tabs>
  </div>
  <div class="col-10">
  <lx-tabs lx-color="black" lx-theme="dark" ng-if="repositories.length > 0" lx-active-tab="activeTab">
    <lx-tab class="chart-tab" lx-icon="chart-areaspline" ng-repeat="repo in repositories" lx-label={{repo.title}}>
      <div class="graphs">
        <div class="graph-loader" ng-if="repo.graphs.length <= 0">
            <lx-progress lx-color="white" lx-type="circular" lx-diameter="100"></lx-progress>
        </div>
        <div class="graph-container" ng-repeat="graph in repo.graphs">
          <div class="graph" ng-if="$parent.activeSideTab == graph.tab">
            <lx-date-picker ng-if="graph.hasStartDate" ng-model="graph.startdate"
                    lx-input-format="LL"
                    lx-locale="en">
              <lx-text-field lx-theme="dark" lx-allow-clear="true" lx-label="Pick a Start Date">
                <input type="text" ng-model="graph.startdate">
              </lx-text-field>
            </lx-date-picker>
            <lx-date-picker ng-if="graph.hasEndDate" lx-theme="dark" ng-model="graph.enddate"
                    lx-input-format="LL"
                    lx-locale="en">
              <lx-text-field lx-allow-clear="true" lx-theme="dark" lx-label="Pick an End Date">
                <input type="text" ng-model="graph.enddate">
              </lx-text-field>
            </lx-date-picker>
            <lx-text-field lx-theme="dark" ng-if="graph.hasFileName == 1" lx-allow-clear="true" lx-label="Enter file path from root directory">
              <input type="text" ng-model="graph.filepath">
            </lx-text-field>
            <lx-text-field lx-theme="dark" ng-if="graph.hasFileName == 1" lx-allow-clear="true" lx-label="Enter Start Line">
              <input type="number" ng-model="graph.startline">
            </lx-text-field>
            <lx-text-field lx-theme="dark" ng-if="graph.hasFileName == 1" lx-allow-clear="true" lx-label="Enter End Line">
              <input type="number" ng-model="graph.endline">
            </lx-text-field>
            <div class="btn-update-chart" ng-if="graph.hasStartDate == 1 || graph.hasEndDate == 1 || graph.hasUpdateChart == 1">
              <lx-button lx-color="white" lx-type="flat" ng-click="graph.refresh()">Update Chart</lx-button>
            </div>
	    <div class="graph-title">{{graph.content.title}}</div>
            <canvas class="chart chart-base" ng-if="!graph.content.is_table" chart-type="graph.content.chart_type" chart-options=graph.content.options chart-data=graph.content.data chart-labels=graph.content.labels chart-series=graph.content.series chart-click="onClick"></canvas> 
            <div class="graph-table" ng-if="graph.content.is_table">
              <table class="table table-dark">
                <thead><tr><th ng-repeat="label in graph.content.labels">{{label}}</th></tr></thead>
                <tbody><tr ng-repeat="data in graph.content.data"><td ng-repeat="cell in data">{{cell}}</td></tr></tbody>
              </table>
            </div>
          </div>
          <div class="legends-box" ng-if="graph.content.show_legend && $parent.activeSideTab == graph.tab">
            <label class="checkbox-inline" ng-repeat="legend in graph.content.actual_series"><input ng-click="graph.content.toggleSeries($index)" ng-model=graph.content.legend_status[$index] class="checkbox-label" type="checkbox" value="">{{legend}}</label>
          </div>
        </div>
      </div>
    </lx-tab>
  </lx-tabs>
  </div>
  </div>
</div>

